/* ==========================================================================
                                    GENERAL
   ========================================================================== */

   /* == IMPORTATIONS == */

/* variables (fonts import + variables) */
@import url('./variables.css');

/* animations */
@import url('./animations.css');

/* general style */
html {
    font-size : 1em;
    color: #000;
    overflow-x: hidden;
}

/* ==========================================================================
                                    NAVIGATION BAR
   ========================================================================== */

/* == NAV == */
nav {
    max-width: 100vw;
    height : var(--nav-height);
    font-family : "Poppins-SemiBold";
    font-size: clamp(0.625rem, 2vw - 0.5rem, 1rem);
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width : 95%;
    height : 100%;
    margin: 0 var(--horizontal-margin );
}

/* == LOGO == */
.logo-container, div.logo-container img  {
    width : clamp(var(--logo-width-min), 10vw, var(--logo-width-max));
}
.logo-container p  {
    font-family : "Poppins-SemiBold";
    font-size : clamp(0.813rem, 1vw + 0.45rem, var(--fs-logo-text-max));
}

/* == NAVIGATION LINK == */

.nav-container-navigation-links  {
    width: 85%;
}
nav ul  {
    display:flex ;
    justify-content: space-between;
    align-items: center;
    gap : 10px;
}

nav li a:hover {
    font-family : "Poppins-Bold";
}
/* navigation link : country choice */
.country-choice {
    display: flex;
    align-items: center;
    gap : 7px
}
.dropdown:not(.open) {
    display: none;
}
.dropdown-content {
    background-color: rgba(255, 255, 255, 0.418);
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(5px);
    position: fixed;
    right: 0;
    top: calc(var(--nav-height));
    z-index: 100;
}
.dropdown-content ul {
    display: flex;
    flex-direction: column;
    gap : 30px;
    width: 100vw;
    padding : 40px 0 10px 0 ;
}
.dropdown-content div {
    display: flex;
    align-items: center;
    gap : 15px;
}
div.country-choice-close {
    display : none;
}
/* Hiding the burger menu on big devices */
.burger-menu-container {
    display:none;
}

/* ==========================================================================
                                    HEADER
   ========================================================================== */


/* Hero image */
.header-container {
    height : 500px;
    background: url('../assets/img/hero-images/hero-img-1.png') no-repeat left;
    animation: heroFadeAnimation 25s infinite;
    display: flex;
}
.header-container-content {
    background-color: var(--primary-color);
    width: 55vw;
    height: inherit;
    display: flex;
    align-items: center;
    /* to change the form : https://bennettfeely.com/clippy/ */
    clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
    -webkit-clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
    color: var(--font-secondary-color);
}
.header-container-content div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 var(--horizontal-margin );
    gap : 25px;
    width : 70%;
}
/* diagonals effect */
.diagonal {
    height: inherit;
    background-color: var(--primary-color);
    position: absolute;
}
.diagonal-1 {
    clip-path: polygon(25% 0%, 27% 0, 2% 100%, 0% 100%);
    width: 55vw;
    left : calc(43vw);
}
.diagonal-2 {
    clip-path: polygon(25% 0%, 26% 0, 1% 100%, 0% 100%);
    width: 55vw;
    left : calc(46vw);
}
/* text + button */
h1 {
    font-family: var(--ff-tittle);
    font-size: clamp(1.8rem, 3vw + 0.5rem, var(--fs-h1));
}
.header-container-content p {
    font-family: var(--ff-text);
    font-size: clamp(0.8rem, 1vw + 0.3rem, var(--fs-h4));
    line-height: calc(var(--fs-h4) * 1.5);
}
button {
    cursor: pointer;
    background-color: var(--button-background-secondary-color);
    font-family: var(--ff-button);
    border: none;
    width : 306px;
    height: 56px;
}

/* ==========================================================================
                                    FOOTER
   ========================================================================== */

.footer-container {
    max-width: 100vw;
    font-family: var(--ff-text-footer);
}

.footer-container-legal-mention , .footer-container-policy {
    display: flex;
    align-items: center;
}

.footer-container-legal-mention {
    background-color: #F7FCF9 ;
    font-size: var(--fs-text-xsmall);
}
.legal-mention-text {
    width: 85%;
}
.legal-mention-text p {
    margin: 0 0 12px 0;
}
.footer-container-policy {
    background-color: #000 ;
}
.footer-container-policy ul {
    display: flex;
    gap : 50px;
}
.footer-container-policy a {
    font-size: clamp(0.625rem, 2vw - 0.5rem, 1rem);
    color: var(--font-secondary-color);
}
.footer-container-legal-mention > div , .footer-container-policy > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width : 95%;
    margin: 0 var(--horizontal-margin );
    gap: 4vw;
    margin : 7vh var(--horizontal-margin );
   
}
.footer-container-policy > div {
    margin : 4vh var(--horizontal-margin );
}



/* ================================================================================================================ */

/* ============
    RESPONSIVE 
   ============ */

/* Responsive : tablet and small desktop */
@media screen and (max-width:992px){
    /* Hero image */
    .header-container {
        height : 500px;
        background: url('../assets/img/hero-images/hero-img-1.png') no-repeat;
        background-position: left;
        display: flex;
        overflow-y: hidden;
    }
    .legal-mention-text {
        width: 100%;
    }
}

/* Responsive :  phone */
@media screen and (max-width:768px){
    /* Navigation */

    /* display the burger menu */
    .burger-menu-container {
        display:block;
    }
    /* open the navigation menu */
    .nav-container-navigation-links.open {
        right : 0;
        transition: right 1s;
    }
    .nav-container-navigation-links {
        background-color: var(--primary-color);
        position : fixed;
        gap : 40px;
        top: calc(var(--nav-height));
        width : 80vw;
        height : calc(100vh - var(--nav-height));
        right : -80vw;
        font-size: 1rem;
        transition: right 1s;
        z-index: 99;
    }
    .nav-container-navigation-links ul {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 30px;
        text-align: end;
        width : 90%;
        margin : 70px 30px 0 auto;
        
    }
    .nav-container-navigation-links a {
        color : var(--font-secondary-color);
    }
    /* countries selector */
    /* hide the chevron */ /* A REVOIR */
    #down-chevron {
        display : none;
    }
    div.country-choice-close {
        display: flex;
        width :100%;
        margin: 20px 0 0 20px;
        align-self: flex-end;
    }
    .dropdown-content {
        position : fixed;
        top: calc(var(--nav-height));
        width : 80vw;
        height : calc(100vh - var(--nav-height));
    }
    .dropdown ul {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        gap : 30px;
        padding : 0;
    }
    .dropdown ul a {
        color: var(--font-primary-color);
    }


}